<template>
  <div class="product">
    <div class="fields">
      <div class="field bold">
        {{ product.name }}:
      </div>
      <div class="field">
        {{ product.price }}&#8364;
      </div>
      <div :class="{'field':true, 'unaviable':(product.amount <= 0)}">
        Aviable: {{ product.amount }}
      </div>
      <button class="field" type="button" @click="showDesc()">
        +
      </button>
      <button v-if="canbuy" :disabled="product.amount <= 0" class="field" type="button" @click="buy()">
        Buy
      </button>
    </div>
    <div v-show="description">
      <div class="field">
        {{ product.description }}
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'Product',
  props: {
    product: {
      type: Object,
      required: true
    },
    canbuy: {
      type: Boolean,
      default: true
    }
  },
  data: function () {
    return {
      description: false
    }
  },
  methods: {
    showDesc () {
      this.description = !this.description
    },
    buy () {
      this.$router.push({ path: '/buy', query: { product: this.product } })
    }
  }
}</script>
<style lang="scss">
.field {
  display: inline-block;
  margin: 5px;
}
.bold {
  font-weight: bold;
}
.unaviable {
  color: red;
}
</style>
