<template>
  <div class="table">
    <div class="cell">
      <Product :canbuy="false" :product="product"></Product>
    </div>
    <div class="cell">
      <label>Bank Account ID:</label>
      <input type="number" v-model="client" required />
    </div>
    <div class="cell">
      <label>Amount:</label>
      <input type="number" v-model="amount" required />
    </div>
    <div class="cell">
      <button @click="toList()">Cancel</button>
      <button @click="buy()">Buy</button>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Product from '@/components/Product.vue'
  import { mapGetters } from 'vuex'
  import ProductApi from '../api/productApi.js';

  export default {
    name: 'Buy',
    data() {
      return {
        client: null,
        amount: null
      }
    },
    props: {
      product: {
        type: Object,
        required: true
      }
    },
    methods: {
      toList() {
        this.$router.push('/products');
      },
      buy() {
        if (this.isFormValid) {
          ProductApi.buyProduct(this.client, this.product, this.amount)
            .then(response => {
              //console.log(response);
              if (response.body.ok) {
                window.alert("Ok.");
                this.toList();
              } else {
                window.alert("Error: " + response.body.message);
              }
            })
            .catch(error => {
              console.log(error);
              window.alert("API Error.");
            })
        } else {
          window.alert("Invalid Form.");
        }
      }
    },
    computed: {
      isFormValid() {
        return this.amount > 0 && this.client > 0;
      }
    },
    components: {
      Product
    }, mounted() {
      if (!this.product || !this.product.id) {
        this.toList();        
      }
    }
  }</script>

<style lang="scss" scoped>

  .table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .cell {
    margin: inherit;
  }

  .error {
    color: red;
  }
</style>
