<template>
  <div class="home">
    <div id="nav">
      <router-link to="/products">Products</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
  
  export default {
    name: 'Home',
    components: {

    }
  }
</script>
