<template>
  <div class="list">
    <div>
      <button @click="load()">Reload</button>
    </div>
    <div>
      <Product :canbuy="true" :product="product" v-for="product in products" :key="product.id" v-show="canShow(product)"></Product>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Product from '@/components/Product.vue';
  import { mapGetters } from 'vuex';
  import ProductApi from '../api/productApi.js';

  export default {
    name: 'List',
    data() {
      return {
        search: '',
        products: []
      }
    },
    methods: {
      canShow(product) {
        return (!this.search || this.search.length === 0) || product.name === this.search
      },
      load() {
        ProductApi.getProducts()
          .then(response => {
            //console.log(response);
            this.products = response.body;
          })
          .catch(error => {
            console.log(error);
          })
      }
    },
    components: {
      Product
    }, mounted() {
      this.load();
    }
  }</script>
